
<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
        rel="stylesheet">
        
        
        

    <!-- Icons -->
   
    <link href="{%static 'app/css/font-awesome.css'%}" rel="stylesheet">

    <!-- Jquery UI -->
    <link type="text/css" href="{% static 'app/css/jquery-ui.css'%}" rel="stylesheet">
    <link type="text/css" href="{% static 'app/js/core/style.css'%}" rel="stylesheet">

    <!-- Argon CSS -->
    <link type="text/css" href="{% static 'app/css/argon-design-system.min.css'%}" rel="stylesheet">

    <!-- Main CSS-->
    <link type="text/css" href="{% static 'app/css/style.css' %}" rel="stylesheet" >

    <!-- Optional Plugins-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  
    <title> {% block title %}Multi Vendor E-Commerce Website{% endblock title %} </title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
 

  </head>
  <body>
     <header class="header clearfix">
        <div class="top-bar d-none d-sm-block">
            <div class="container">
                <div class="row">
                    <div class="col-6 text-left">
                        <ul class="top-links contact-info">
                            <li><i class="fa fa-envelope-o"></i> <a href="#">srokaya120@gmail.com</a></li>
                            <li><i class="fa fa-whatsapp"></i>9859333066</li>
                            <li> <a href="{% url 'grow-your-business' %}">Sell On Shopmandu</a></li>
                            
                           
                        </ul>
                        
                      
                    </div>
                    <div class="col-6 text-right">
                            <ul class="top-links account-links">
                              <li class="nav-item dropdown">
                                {% if request.user.is_authenticated %}
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">  {{request.user}}</a>
                          
                           <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'customerlogout'%}">Logout</a>
                                    {% comment %} <a class="dropdown-item" href="{% url 'change'%}">Password Change</a> {% endcomment %}
                                    <a class="dropdown-item" href="{% url 'customerprofile'%}">Profile</a>
                                   
                                  
                                </div>
                            </li>
                              {% else %}

                                <li><i class="fa fa-power-off"></i> <a href="{% url 'customerlogin'%}">Login</a></li> 
                               <li><i class="fa fa-user-circle-o"></i> <a href="{% url 'customerregistration'%}">Register</a></li>
                           {%endif%}
                        </ul>
                    </div>       
                </div>
            </div>
        </div>
        <div class="header-main border-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-12 col-sm-6">
                        <a class="navbar-brand mr-lg-5" href="/">
                            <i class="fa fa-shopping-bag fa-3x"></i> <span class="logo">Shopmandu</span>
                        </a>
                    </div>
                    <div class="col-lg-7 col-12 col-sm-6">
                        <form action="{% url 'search' %}" method="GET" class="search">
                            <div class="input-group w-100">
                                <input type="text" name="keyword" class="form-control" placeholder="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="col-lg-2 col-12 col-sm-6">
                        <div class="right-icons pull-right d-none d-lg-block">
                         {% if request.user.is_authenticated %}
                            <div class="single-icon shopping-cart">
                                <a href="{% url 'mycart' %}"><i class="fa fa-shopping-cart fa-2x"></i></a>
                                <span  class="badge badge-default">{{request.session.cart.keys|length}}</span>
                            </div>
                                 {% else %}

                                 <div class="single-icon shopping-cart">
                                    <a href="{% url 'customerlogin'%}"><i class="fa fa-shopping-cart fa-2x"></i></a>
                                    <span  class="badge badge-default">{{request.session.cart.keys|length}}</span>
                                </div>

                                 
                            
                              {%endif%}


                              {% if request.user.is_authenticated %}


                              <div class="single-icon wishlist">
                                <a href="{%url 'my_wishlist'%}"><i class="fa fa-heart-o fa-2x"></i></a>
                                <span class="badge badge-default"></span>
                            </div> 
                            {% else %}
                            <div class="single-icon wishlist">
                                <a href="{% url 'customerlogin'%}"><i class="fa fa-heart-o fa-2x"></i></a>
                                <span class="badge badge-default">  </span>
                            </div> 

                            {%endif%}

                        </div>
                    </div>
                </div>
            </div>
        </div>
            </header>


{% block main-contents %}

{% endblock main-contents %}



<footer class="footer bg-primary">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer about">
                            <div class="logo-footer">
                                <i class="fa fa-shopping-bag fa-3x"></i> <span class="logo">Shopmandu</span>
                            </div>
                            <p class="text">Shopmandu is known to be one of the best online shopping platform that offered buying and selling in Nepal</p>
                            <p class="call">Got Question? Call us 24/7<span><a href="tel:9869333066">9869333066</a></span></p>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-2 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer links">
                            <h4>Information</h4>
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Faq</a></li>
                                <li><a href="#">Terms &amp; Conditions</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Help</a></li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-2 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer links">
                            <h4>Services</h4>
                            <ul>
                                <li><a href="#">Payment Methods</a></li>
                                <li><a href="#">Money-back</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Shipping</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer social">
                            <h4>Get In Touch</h4>
                            <!-- Single Widget -->
                            <div class="contact">
                                <ul>
                                    <li>Saraswotinagar, Chabahil, Kathmandu.</li>
                                    <li>srokaya120@gmail.com</li>
                                    <li>9869333066</li>
                                </ul>
                            </div>
                            <!-- End Single Widget -->
                            <ul>
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-twitter"></i></a></li>
                                <li><a href="#"><i class="ti-flickr"></i></a></li>
                                <li><a href="#"><i class="ti-instagram"></i></a></li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="copyright-inner border-top">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="left">
                                <p>Copyright © 2021 <a href="#" target="_blank">Shopmandu</a> -
                                    All Rights Reserved.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="right pull-right">
                                <ul class="payment-cards">
                                    <li><i class="fa fa-cc-paypal"></i></li>
                                    <li><i class="fa fa-cc-amex"></i></li>
                                    <li><i class="fa fa-cc-mastercard"></i></li>
                                    <li><i class="fa fa-cc-stripe"></i></li>
                                    <li><i class="fa fa-cc-visa"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    {% block main-contentss %}

    {% endblock main-contentss %}

    <script>
        var updateBtns = document.getElementsByClassName('update-cart')
        for(i = 0; i < updateBtns.length; i++){
            updateBtns[i].addEventListener('click', function(){
                var productId = this.dataset.product
                var action = this.dataset.action
                console.log('productId:', productId, 'action:', action)
            })
        }
        
       </script>

      
     <!-- Core -->
     <script type="text/javascript" src="{%static 'app/js/Cart.js'%}"></script>
    {% comment %} <script src="{%static 'app/js/Cart.js'%}"></script> {% endcomment %}
    <script src="{%static 'app/js/core/jquery.min.js'%}"></script>
    <script src="{%static 'app/js/core/script.js'%}"></script>
 

    <script src="{%static 'app/js/core/popper.min.js'%}"></script>
    <script src="{%static 'app/js/core/bootstrap.min.js'%}"></script>
    <script src="{%static 'app/js/core/jquery-ui.min.js'%}"></script>

    <!-- Optional plugins -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <!-- Argon JS -->
    <script src="./assets/js/argon-design-system.js"></script>

    <!-- Main JS-->
    <script src="./assets/js/main.js"></script>

  </body>
</html>





