{% extends 'app/bases.html' %}
{% load static %}
{% block title %}Passwordreset{% endblock title %}

{% block main-contents %}

<div class="container">
    <div class="row">
        <div class="col-md-5" class="my-3">
            <br>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button  class="btn btn-primary">Reset password</button>
            </form>
            <br>
        </div>
    </div>
</div>
{% endblock main-contents %}